{% set page = 'about' %}
{% include 'common/header.html' %}
<div class = "wrapper-12 padding-10">
	<div class = "column-5 wrapper-5 center">
		<div class = "padding-1">
			<h3>Some common questions</h3>
			<p class = "regular left padding-2" style = "line-height: 2em"><span style = "font-weight: 500; color: #FF4262">Where do you get the grade data?</span> It's directly bought from your University's registrar. We do not use your transcripts to create grade graphs.</p>
			<p class = "regular left padding-2" style = "line-height: 2em"><span style = "font-weight: 500; color: #FF4262">I don't see grades for a specific course page, where do I go?</span> An account is required to view grades - some classes do not have recorded data since we are paying the university for data (we have a tight budget).</p>
			<p class = "regular left padding-2" style = "line-height: 2em"><span style = "font-weight: 500; color: #FF4262">What do you do with our transcripts?</span> To provide you the best course recommendations, we need to understand what classes you have taken in the past. We do not sell, share, or provide your transcript to anyone.</p>
		</div>
		<div class = "padding-1">
			<h3>About us</h3>
			<p class = "regular left padding-2" style = "line-height: 2em">Gradfire's mission is to help you find and succeed in classes. Learning is not just about earning an A, it's about mastering material. As students, we believe that persistent learning is essential to building a successful career. To do this, putting you in the right classrooms and in front of the right professors is essential. Finally, learning will be effortless.</p>
			<p class = "regular left" style = "line-height: 2em">By leveraging your transcript, registrar data and historic student paths, we can provide you course suggestions. Looking for courses can take hours, maybe even days. Gradfire can cut down that discovery time with crowdsourced data.</p>
			<br>
			<p class = "regular left" style = "line-height: 2em">Built with <span style = "font-weight: 500; color: #FF4262">fire</span></p>
			<p class = "regular left">Minu Palaniappan &amp; Andy Haden</p>
		</div>
	</div>
</div>
{% include 'common/footer.html' %}