{% set title = 'Reset Password' %}

{% include 'common/header.html' %}
<div>
  <form action="" method="POST" id="main_form">
    {% include 'common/errors.html' %}
    <div>
      <label for="password">New password: </label><input type="password" name="password" />
    </div>
    <div>
      <label for="password_confirm">Confirm password: </label><input type="password" name="password_confirm" />
    </div>
    <div>
      <input type="submit" />
    </div>
  </form>
</div>
{% include 'common/footer.html' %}