{% set page = 'reset_password' %}

{% set title = 'Reset Password' %}

{% set header_scripts = ['lib/jquery-2.2.0.min.js'] %}

{% include 'common/header.html' %}

<section>
    <div>
        <h3>Reset Your Password</h3>
    </div>
    <form action="" method="POST">
        <p>{{ 'Enter your email below:' if not sent else 'Please check your email for a password reset link.' }}</p>
        <div>
            <input class="form-input" type="text" name="email" placeholder="Email (e.g. email@school.edu)">
        </div>
        <div>
            <input type="submit" value="SEND LINK" />
        </div>
    </form>
</section>

{% include 'common/footer.html' %}