@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

input {
	font-size: 13px;
}

%card {
	background-color: white;
	border: 1px solid $ultra-light-gray;
	margin: 5px 0px;
}


%dropdown {
	background-color: white;
	border-radius: 0px;
  border: 1px solid $ultra-light-gray;
	padding: 10px 5px;
	-webkit-appearance: none;
	@include dropDown(20px);
}

%load {
	@extend p.small;
	background-color: $logo;
	color: white;
	border: none;
	border-radius: 2px;
	padding: 5px 10px;
	width: 100%
}

%form {
	@extend %card;
	color: $light-gray;
	padding: 5px;
	input, textarea {
		border: none;
	}
	:focus {
		outline: none;
	}
}

.bg-card {
	background-color: $ultra-light-gray;
}



@mixin btn ($color) {
	border: none;
	background-color: transparent;
	color: $color;
}

.delete {
	@include btn($logo);
}


@mixin question {
	@extend %card;
	padding: 10px 5px;
	box-shadow: none;
	@content
}

@mixin answer {
	@extend %card;
	padding: 5px 2.5px;
	@content
}

.RichEditor-editor {
	min-height: 200px;
}


[contentEditable=true],[contentEditable=false] {
	content:attr(placeholder);
    @extend p;
    color: $dark-gray;
}

[contentEditable=true]:empty:not(:focus):before, [contentEditable=false]:empty:not(:focus):before{
    content:attr(placeholder);
    @extend p;
    color: $gray;
    font-size: 20px !important;
}

[contentEditable=true]:hover {
	cursor:text;
}
[contentEditable=true]:focus {
	outline: none;
}

@mixin foundationform {
	@extend %form;
	@content
}

@mixin cardform {
	@extend %form;
	@content
}

.foundation-form {
	@include foundationform {
		font-size: 15px;
	}
}
.foundation-form:focus {
	outline: none;
	border: 1px solid $logo;
}

.card-col {
	@extend %card;
}
.question-col {
	@include question {
	}
	box-shadow: none;
}

.answer {
	@include answer;
}

.dot {
	background: $gray;
    border-radius: 50px;
    display: inline-block;
    height: 3px;
    vertical-align: middle;
    width: 3px;
    margin-right: 0px !important;
}

.carousel {
	display: none;
}

.qaheader {
	* { display: inline-block; margin-right: 5px; }
}

.dropdown {
	@extend %dropdown;
}

.list_caption {
	border-bottom: 1px solid $ultra-light-gray;
}

.load {
	@extend %load;
	&.segmented {
		width: auto;
		margin-left: 5px;
	}
}

.loadAlternate {
	@extend %load;
	background-color: white;
	color: $logo;
	font-weight: 600;
}

.form-backdrop {
	border-radius: 2px;
}

.tabs {
	float: none;
	display: inline-block;
}

.tabs:hover {
	cursor: pointer;
}

.autocomplete-item {
  font-size: 20px;
	color: $dark-gray;
	a {
		text-decoration: none;
		color: inherit;
	}
	b {
		font-weight: 500;
		color: $logo;
	}
}

.tool-set {
	.small { display: inline-block; margin-right: 15px; vertical-align: middle }
}

#query_input_container {
    .auto-search-custom {
	    border-radius: 0px 0px 3px 3px;
	    border-right: none;
	    border-left: none;
	    position: absolute;
	    left: 0px;
	    right: 0px;
	    margin-top: 10px;
    }
}

.clickHover:hover {
	cursor: pointer;
}

.border {
	border-bottom: 1px solid $ultra-light-gray;
}

.border-top {
	border-top: 1px solid $ultra-light-gray;
}

.toggleTabs {
	li:first-child {
		border-right: 1px solid $ultra-light-gray;
	}
}

input[type="checkbox"] {
	position: relative;
    -webkit-appearance: none;
    height: 1.25em;
    width: 1.25em;
    margin-bottom: -0.25em;
    margin-right: 5px;
    vertical-align: top;
    background-color: white;
    border: 1px solid $super-light-gray;
    border-radius: 2px;
    top: 5px;
}

input[type="checkbox"]:checked:before {
    content: "\2713";
    position: absolute;
    font-size: 0.85em;
    left: 1px;
    top: 0px;
    text-align: center;
    width: 1.25em;
    color: $logo;
}

.fa-heart {
	&.voted {
		color: $logo;
	}
	&.unvoted {
		color: $super-light-gray;
	}
}

.warning {
	background-color: white;
	border: 1px solid $ultra-light-gray;
	border-radius: 3px;
	p,a {
		color: $logo;
	}
	span {
		float: right;
	}
}

.fa-search {
	position: relative;
    top: 6px;
    right: 10px;
}

.customGoogleSignin {
    cursor: pointer
}

.continueWithGoogle {
	padding: 10px 15px;
	color: white;
	font-weight: 500;
	text-align: center;
	font-family: $base-font;
	background-color: $logo;
	max-width: 250px;
	border-radius: 3px;
	margin: 0 auto;
}

.facebook_like {
	@extend .continueWithGoogle;
	background-color: $light-blue;
}

.continueWithGoogle:hover {
	cursor: pointer;
}

.dropdown-blank {
	border: none;
	border-radius: 0px;
	padding: 10px 5px;
	-webkit-appearance: none;
	background-color: white;
	color: $gray;
	font-size: 15px;
	font-weight: 400;
}

.dropdown-font-blank {
	font-size: 15px;
	color: $gray;
	font-weight: 400;
}

#select_teacher_per_term_data:hover {
	cursor: pointer;
}

.reader-stat {
  background-color: none;
  color: $logo-alt !important;
  padding: 5px;
  border-radius: 3px;
  font-size: 16px;
}

@mixin activecircle($color) {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: $color;
}

.agreen {
  @include activecircle($green)
}

.alogo {
  @include activecircle($logo)
}

.graphbox {
  	box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-right: 0;
    border-left: 0;
}
